@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
}

#app .top-header {
  height: 20px;
  background-color: #df4617;
}

#app header {
  width: 80%;
  margin: auto;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#app header img {
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

#app main {
  width: 90%;
  margin: auto;
}

@media (min-width: 1919px) {
  #app main {
    width: 60%;
  }
}
